* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

header {
  height: 200px;
  background-color: rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
}


.search > input, button {
  height: 50px;
  font-size: 20px;
}

.search > button {
  width: 50px;
}

.book {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
}

.books-container {
  display: flex;
  padding-top: 200px;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  min-height: 600px;
}

.title {
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 200px;
}